{% extends "skeleton.html" %}

  {% set breadcrumbh1 = 'À propos de <small>l\'Aïkido ASPTT Dijon</small>' %}
  {% set breadcrumbtitle = 'Le club' %}


  {% block content %}
        <div class="row">

            <div class="col-md-4">
                <center><img class="img-responsive" src="images/logo.jpg"><center>
                </div>
                <div class="col-md-8">
                    <h2>Bienvenue à l'Aïkido ASPTT Dijon</h2>
                    <p>Le club de l'<a href="https://dijon.asptt.com/activity/aikido/">ASPTT Dijon</a> a été créé en septembre 2003, ce sont le docteur Jean Poupon et Gérard Méresse qui lui ont donné naissance.</p><p>Club indépendant depuis septembre 2005 il est ouvert à tous de 7 à 97 ans. L'Aikido est un art martial véritable art de vivre qui se pratique dans une ambiance conviviale et généreuse au sein du club.</p>
                </div>

            </div>
            <!-- Our Customers -->

            <div class="row">
                <meta id="acg-org" itemprop="affiliation" content="Aïki-Club Genlis">
                <div class="col-lg-12">
                    <h2 class="page-header">Les professeurs</h2>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-6" itemscope itemtype="http://data-vocabulary.org/Person" itemref="acg-org">
                    <img class="img-responsive img-customer img-rounded" src="images/professeur/gg.jpg" itemprop="photo">
                    <center><h3><span itemprop="name">Gérard Méresse</span><br/></h3></center>
                    <p><center>Ceinture noire 6 <span class="sup">ième</span> DAN&nbsp;
                        <span class="tooltip-social facebook-link"><a href="https://www.facebook.com/gerard.meresse.3?fref=ts" itemprop="url" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square"></i></a>
                        </span></center>
                </p>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-6" itemscope itemtype="http://data-vocabulary.org/Person" itemref="acg-org">
                    <img class="img-responsive img-customer img-rounded" src="images/professeur/benoit.jpg" itemprop="photo">
                    <center><h3><span itemprop="name">Benoit Morot</span><br/>
                    </h3></center>
                    <p><center>Ceinture noire 2 <span class="sup">ième</span> DAN</center></p>
                </div>

            </div>
            <!-- Team Member Profiles -->

            <div class="row">

                <div class="col-lg-12">
                    <h2 class="page-header">Le bureau</h2>
                </div>

                <div class="col-sm-4" itemscope itemtype="http://data-vocabulary.org/Person" itemref="acg-org">
                    <img class="img-responsive  img-rounded" src="images/bureau/president.jpg" itemprop="photo">
                    <center><h3><span itemprop="name">Emmanuel Py</span><br/><small><span itemprop="title">Président</span></small></h3></center>
                </div>

                <div class="col-sm-4" itemscope itemtype="http://data-vocabulary.org/Person" itemref="acg-org">
                    <img class="img-responsive  img-rounded" src="images/bureau/secretaire.jpg" itemprop="photo">
                    <center><h3><span itemprop="name">Jean-Luc Bouriant</span><br/><small><span itemprop="title">Secrétaire</span></small></h3></center>
                </div>
                               <div class="col-sm-4" itemscope itemtype="http://data-vocabulary.org/Person" itemref="acg-org">
                    <img class="img-responsive  img-rounded" src="images/bureau/tresorier.jpg" itemprop="photo">
                    <center><h3><span itemprop="name">Salvatore Rizzo</span><br/><small><span itemprop="title">Trésorier</span></small></h3></center>
                </div>
            </div>
            <div class="row">
 

                <div class="col-sm-4" itemscope itemtype="http://data-vocabulary.org/Person" itemref="acg-org">
                    <img class="img-responsive  img-rounded" src="images/bureau/webmaster.jpg" itemprop="photo">
                    <center><h3><span itemprop="name">Aymeric Lamboley</span><br/><small><span itemprop="title">Webmaster</span></small></h3></center>
                </div>
            </div>
        



        </div>
        <!-- /.container -->

  
{% endblock %}
